<div class="p-3 d-flex justify-content-between border-bottom bg-light mb-2">
  <h1 class="h1">Meteo Project</h1>
  <p class="h1">
    <i class="bi bi-cloud-sun"></i>
  </p>
</div>
<form
  class="border p-5 col-md-6 col-lg-4 col-sm-7 col-10 my-3 shadow rounded-3 m-auto"
  name="wather"
  (ngSubmit)="getWeatherData()"
>
  <p class="display-5 text-center mb-3 text-primary p-2">
    Search for the Weather
  </p>
  <div *ngIf="error" class="alert alert-danger" role="allert">
    Latitude and Longitude are required
  </div>
  <div class="mb-3">
    <label class="form-label" for="latitude">Latitude</label>
    <input
      [(ngModel)]="latitude"
      id="latitude"
      name="latitude"
      class="form-control"
      type="text"
      required
    />
  </div>
  <div class="mb-3">
    <label class="form-label" for="longitude">Longitude</label>
    <input
      class="form-control"
      [(ngModel)]="lognitude"
      name="longitude"
      id="longitude"
      type="text"
      required
    />
  </div>
  <button class="btn btn-primary w-100 mb-3" type="submit">GO</button>
</form>

<h3 class="text-center my-3">Example locations</h3>

<div class="d-flex justify-content-center m-auto">
  <p
    class="btn m-2 btn-outline-primary rounded-pill"
    [routerLink]="'/results/45.0736456/7.535524'"
  >
    Torino
  </p>
  <p
    class="btn m-2 btn-outline-primary rounded-pill"
    [routerLink]="'results/40.4379543/-3.6795367'"
  >
    Madrid
  </p>
  <p
    class="btn m-2 btn-outline-primary rounded-pill"
    [routerLink]="'results/40.6976684/-74.2605478'"
  >
    New York
  </p>
</div>
